.headlineOne {
    color: #333366;
}

.summaryOne{
}

.is-child {
    background-color: #eeeeee;
    margin-bottom: 240px;
    color: rgb(45, 45, 45);
}

.heroimg {
    padding-bottom: 40px;
    background-color: transparent;
}

.body {
}